.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftCard{
    display: flexbox;
    margin-left: 5rem;
    margin-right: 2.5rem;
    text-align:left;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.productName{
    margin-top: 3rem;
    padding: 1rem;
    background: #f4f4f4;
    width: 100%;
    
}

.boletoPay{
    padding: 1rem;
    padding-top: 3rem;
    color: #219653;
}

.line{
    width: 100%;
    background: #f4f4f4;
    height: 0.25rem;
}

.finalValue{
    padding: 1rem;
    color: #219653;
}

.qrCode {
    padding-top: 2rem;
justify-content: center;
}

.warning{
    padding: 1rem;
}

.codeLine{
    width: 100%;
    background: #f4f4f4;
    height: 4.25rem;
}

.button{
    padding-top: 2rem;
    margin-left: 50%;
}

.vencimento{
    padding-top: 2rem;
}

.rightCard{
    display: flexbox;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align:left;
    align-items: flex-start;
    justify-content: flex-start;
}

.summary{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 1rem;
    background: #f4f4f4;
    width: 100%;
}

.summaryFixed{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 1rem;
    background: #f4f4f4;
    color: black;
    width: 100%;
}

.summaryDynamic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    
    padding: 1rem;
    background: #f4f4f4;
    color: black;
    width: 100%;
}

.produto{
    margin-right: auto;
}

.qtde{
    margin-left: auto;
    margin-right: auto;
}

.price{
    margin-left: auto;

}